<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		info="https://phpunit.de/manual/current/en/appendixes.configuration.html"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="../.composer/vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>../.composer/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>